.debug{
	outline: 1px dashed red;
}
.container{
	width: 100%;
	padding: 0px;
}
.portion{
	min-width: 100%;
	min-height: 650px;
	padding-top: 50px;
}

.navbar-mycolor{
	background-color: rgba(0,0,0,0.5);
}

@media (min-width: 768px){
	.center-on-desktop{
		display: inline;
		margin: auto;
	}
}

#profile{
	background: url('../assets/bganime.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: table;
	color: #fff;
}
#sakurafall{
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 660px;
}
.profiletext-wrapper{
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(0,0,0,0.15);
}
.profiletext{
	display: block;
	width: 80%;
	width: 280px;
	padding: 10px;
	border: 3px solid white;
	margin: auto;
	background-color: rgba(255,255,255,0.2);
	background-image: url('../assets/dpatternold.png');
	text-shadow: 3px 2px 6px black;
}
.myname h1{
	font-size: 4em;
}
.myjob{
	font-size: 1.5em;
	margin-bottom: 0.2em;
}
.downarrow{
	position: relative;
}
.downarrow a{
	position: absolute;
	top:35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}